#add FTP directory credentials below
domain = ""
username = ""
password = ""

#User retrieval file destination (e.g., a web directory)
destination = ""

#OCLC Symbol
symbol = ""

#Email Delivery Settings
SUBJECT  = ""
EMAIL_FROM = ""
EMAIL_TO = ""
EMAIL_RECIP = [""]
EMAIL_SERVER = ""
SMTP_PASS = ""
